<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.JS Project | Welcome</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Nunito', sans-serif;
        }

        body {
            background: #2a9d8f;
            color: #264653;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100%;
            flex-direction: column;
        }
        h1 {
            font-size: 4rem;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
        p {
            font-size: 1.7rem;
            font-weight: 500;
        }
        a {
            text-decoration: none;
            color: currentColor;
        }
        .author {
            font-weight: 900 !important;
        }
    </style>
</head>
<body>
    <h1>welcome to</h1>
    <p>Node.js Boilerplate By, <a class="author" href="<%= instagram %>"><%= author %> </a></p>
</body>
</html>